.container{
    margin-bottom:20px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-btn{
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
}
.bg-img{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6%;
    
}
.carousel-indicators .active {
    opacity: 1;
    width: 32px;
    height: 9px;
    background-image: linear-gradient(45deg, #fdc21f, #fcc87a);
    border-radius: 44%;
    transition: .8s;
    }
.carousel-indicators li {
    width: 12px;
    height: 9px;
    background-color: #cacaca;
    border-radius: 46%;
    }
.see-all-btn{
    border: none;
    color: orange;
    font-weight: 700;
    background-color:white;
}
.card h5{
    text-align: center;
}
.card p{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 5px 5px 20px lightgray;
}
.laptop-mrg{
    margin-top: 100px;
}